@font-face {
  font-family: "Shippori Antique";
  src: url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
  font-display: swap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #211c20;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 20px;
  padding-top: 0px;
  margin-top: 75px;

  width: 100vw;
  height: 100vh;
  text-align: center;

  .iframe-wrapper {
    width: 70%;
    height: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.8rem;
    font-family: "Shippori Antique", sans-serif;
    color: white;

    a {
      color: rgb(251, 37, 112);
      transition: all 0.2s ease-in;

      &:hover {
        color: greenyellow;
      }
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 0.9rem;
    }

    h4 {
      font-size: 0.9rem;
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    cursor: pointer;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in;
  }

  .youtube {
    font-size: 1.2rem;
    &:hover {
      color: rgb(251, 37, 112);
    }
  }

  .tiktok {
    font-size: 1rem;
    &:hover {
      color: rgb(233, 85, 142);
    }
  }

  .twitter {
    font-size: 1.2rem;
    &:hover {
      color: cyan;
    }
  }

  .discord {
    font-size: 1.2rem;
    &:hover {
      color: cornflowerblue;
    }
  }

  .instagram {
    font-size: 1.2rem;
    &:hover {
      color: rgb(221, 42, 123);
    }
  }
}

@media (max-width: 400px) {
  .container {
    height: auto;
  }

  .main {
    flex-direction: column;
    justify-content: center;
    height: auto;

    .iframe-wrapper {
      width: auto;
    }

    section {
      justify-content: center;

      iframe {
        margin-bottom: 20px;
      }
    }
  }
}
