.main {
  margin-top: 60px;
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  color: white;
  background-color: #211c20;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: calc(100vh - 60px);
    color: #211c20;
    background-color: white;

    ul {
      list-style: none;
      padding: 0;

      li {
        cursor: pointer;
        padding: 20px;

        &:hover {
          color: white;
          background-color: rgb(251, 37, 112);
        }
      }
    }

    button {
      cursor: pointer;
      color: white;
      margin: 10px;
      padding: 20px;
      border: none;
      border-radius: 5px;
      background-color: rgb(251, 37, 112);
      font-size: 1.1rem;
      transition: all 0.3s ease-out;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
  }

  article {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px;
    overflow: auto;

    a {
      color: rgb(251, 37, 112);
    }

    h1 {
      margin-bottom: 50px;
    }

    p {
      margin: 10px 0;
      letter-spacing: 2px;
      line-height: 23px;
    }

    button {
      cursor: pointer;
      position: absolute;
      right: 30px;
      bottom: 30px;
      padding: 20px;
      color: white;
      background-color: rgb(251, 37, 112);
      border: none;
      border-radius: 5px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.searchBar {
  width: 280px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;

  &:focus {
    border: 2px solid rgb(251, 37, 112);
    outline: 0;
  }
}

@media (max-width: 400px) {
  .main {
    flex-direction: column;
    height: auto;
    margin-top: 0;

    section {
      width: 100%;
      height: 400px;
    }

    article {
      height: auto;
    }
  }

  .dialog {
    width: 90%;
  }
}
